.header-container {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 35px;
}

h2,
label,
p {
  color: #000;
}

input {
  padding: 2px;
  padding-left: 10px;
}

label {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.buttons-container {
  margin-top: 10px;
  padding-top: 15px;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  margin: 5px;
  padding: 7px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal-button.close {
  background-color: #666;
}

.modal-button.submit {
  background-color: #645bff;
}

.add-button {
  margin: 5px;
  padding: 7px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #645bff;
}
